#home {
  background-color: white;
  margin-top: -20px;
  padding-top: 20px;
  .slideshow {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    img {
      height: auto;
    }
  }
}