/* Variables */
$red: #b30000;
$white: #FFFFFF;
$darkgrey: #272627;
$grey: #333333;
$lightgrey: #BFBEBF;
$background-color: #CDF9FF;
$lighten-darkgrey: lighten($darkgrey, 10);

/* THEMES */
$think-color: #f19306;
$code-color: #41a62a;
$experiment-color: #51a6d7;

/* FONTS */
$open-sans-condensed: 'Open Sans Condensed', sans-serif;
$open-sans-condensed-bold: 'Open Sans Condensed', sans-serif;
$open-sans-condensed-italic: 'Open Sans Condensed', sans-serif;