<div id="concept">
    <div class="header">
        <ul class="tab-viewer">
            <li ng-click="currentTab = 'think'" class="theme think" ng-class="{active : currentTab == 'think'}">
                <img src="images/think-logo.png">
            </li>
            <li ng-click="currentTab = 'code'" class="theme code" ng-class="{active : currentTab == 'code'}">
                <img src="images/code-logo.png">
            </li>
            <li ng-click="currentTab = 'experiment'" class="theme experiment" ng-class="{active : currentTab == 'experiment'}">
                <img src="images/experiment-logo.png">
            </li>
        </ul>
        <div class="selector" ng-class="currentTab"></div>
    </div>
    <div class="theme-description" ng-switch="currentTab">
        <div ng-switch-when="think">
            <h2>THINK - Make It Happen!</h2>

            <div class="text">
                <p>
                    THINK will take place over the course of the two first days, and will outline the major role of
                    FLOSS in
                    the digital economy. The “Make it Happen!” baseline very concretely sums up the focus on building a
                    successful free and open-source strategy, from a technological and commercial standpoint.
                </p>

                <p>
                    The opening day format will differ from the previous editions as talks will happen in a single-track
                    schedule in the largest auditorium. This enables us to concentrate on having the best schedule in a
                    unique plenary session dedicated to decision-makers in the private and public sectors. Talks will be
                    more
                    concise and will introduce the think tanks and workshops held on the second day.
                </p>

                <p>
                    This renewed format will support the 2013 focus: making it happen. The FLOSS industry is now at a
                    point
                    where we need to have IT departments take the step from intention, either from strategy or political
                    decision, to actual use or purchase.
                </p>

                <p>
                    We will demonstrate that innovation with FLOSS is accessible to all companies and organisations. It
                    is
                    nowadays easier to innovate in each market because of the availability of free and innovative
                    technologies. This demystification of practical innovation will be the major theme of this sixth
                    edition
                    of the Open World Forum.
                </p>

                <p>
                    All of our speakers have successfully innovated with free and open-source software and will share
                    their
                    experiences around its use and impact. Shared innovation and the platforms available for
                    collaborative
                    innovation will be represented. More practically, speakers will document the way they succeeded in
                    bringing innovation through FLOSS in the following sectors:
                <ul>
                    <li>Digital economy</li>
                    <li>Media</li>
                    <li>Public sector</li>
                    <li>Foundations and Communities</li>
                </ul>
                </p>
                <p>
                    The opening day will be dedicated to keynotes, conferences and panels. The individual talk slot
                    format
                    will be shorter than previous editions, so we can have a very dynamic and interesting program. The
                    morning
                    will be the opportunity to approach the real impact of Open-Source in the digital economic world, as
                    well as
                    the impact of state policies, the governance, educational and business issues. We'll end this
                    sequence
                    with
                    some industrial, organizational, community and government success stories that might inspire
                    attendees
                    to
                    choose Free and Open-Source Software for their next projects.
                </p>

                <p>
                    The afternoon will focus on the innovation catalyst role that Open-Source plays in the major
                    technological
                    and educational projects, especially in infrastructure and Cloud, in Big Data and the Hadoop
                    platforms,
                    in the Web of tomorrow and in Mobility.
                </p>

                <p>
                    CIOs and major users of FLOSS will be invited to take part in the fifth edition of the Open CIO
                    Summit,
                    which is scheduled for the end of the day.
                </p>

                <p>
                    These topics will be explored deeper during the second day, through workshops and think tanks led by
                    industry and community leaders. This will enable attendees to contribute to the evolution of our
                    field,
                    and of course provide the meeting point where the world experts will get together and talk about the
                    present
                    and the future.
                </p>
            </div>
        </div>
        <div ng-switch-when="experiment">
            <h2>EXPERIMENT - An Open World</h2>

            <div class="text">
                <p>
                    EXPERIMENT 2013 will showcase the social innovations that have been brought forth by the Free
                    Software and the Open Source; software and also hardware innovations, artistic and organizational
                    ones as well. Embraced as a sharing philosophy, the FLOSS movement has paved the way for
                    distributing knowledge (Wikipedia, Creative Commons) and allows for new ways of learning and
                    experimenting in the IT world, which have a major impact on our everyday lives.
                </p>

                <p>
                    During the EXPERIMENT day, there will be several conferences and workshops addressed to novices as
                    well as to professionals that are concerned with social issues: beginning with artistic creation all
                    the way to democracy and interconnected objects. These topics, addressed by the Free and Open
                    Source, will allow us to further our understanding in these areas and also their application in real
                    life.
                </p>

                <p>
                    Children are most welcome to test and participate, with a special schedule dedicated to them:
                    KIDEXPERIMENT. There will be a number of discovery workshops for various free or open source
                    software and hardware as well as mini-conferences for young people on the topics of democracy and
                    free art.
                </p>
            </div>
        </div>
        <div ng-switch-when="code">
            <h2>CODE - Open Innovation</h2>

            <div class="text">
                <p>
                    From a technological standpoint, during the CODE days, the focus will be on the following topics:
                    Web, Infrastructure (Cloud, but not exclusively), Data and Mobility. The Web, especially with the
                    user aspects, like the UX movement and the Responsive Design requirements, but also accessibility, a
                    topic that will be increasingly important in the future.
                </p>

                <p>
                    Infrastructure is not solely a technical topic and we want to approach it from its organizational
                    point of view within the IT departments as well, with a focus on the devops movement, the internal
                    impacts for development teams of the new VM provisioning platforms and technologies.
                </p>

                <p>
                    The Data topics, which include Open Data, and the necessary thinking to have when considering
                    opening a data set; but also Big Data, the batch or semi-real time analysis of large quantities of
                    data and the commercial or professional advantages that we can expect.
                </p>

                <p>
                    Lastly, we will talk about Mobility as it is a vital and fast-evolving subject, that has the
                    important characteristic to be largely dominated by Open Source with Android, Tizen, Ubuntu or
                    FirefoxOS.
                </p>

                <p>
                    The CODE topics will be led by a track-leader team that has been almost entirely renewed.
                </p>
            </div>
        </div>
    </div>
</div>