<div id="partners" class="clearfix">
    <h1>Partners</h1>
    <h2>Institutional partners</h2>
    <div class="partners">
        <div class="partner">
            <a owf-external href="http://www.iledefrance.fr/">
                <div class="pic">
                    <img src="images/content/partners/1.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.lafonderie-idf.fr/">
                <div class="pic">
                    <img src="images/content/partners/2.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.paris.fr/">
                <div class="pic">
                    <img src="images/content/partners/3.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.paris-region.com/">
                <div class="pic">
                    <img src="images/content/partners/4.jpg"/>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <h2>Diamond partners</h2>
    <div class="partners">
        <div class="partner">
            <a owf-external href="http://www.inria.fr/">
                <div class="pic">
                    <img src="images/content/partners/5.jpg"/>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <h2>Platinum partners</h2>
    <div class="partners">
        <div class="partner">
            <a owf-external href="http://www.alterway.fr/">
                <div class="pic">
                    <img src="images/content/partners/6.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.smile.fr/">
                <div class="pic">
                    <img src="images/content/partners/7.png"/>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <h2>Silver partners</h2>
    <div class="partners">
        <div class="partner">
            <a owf-external href="http://www.abilian.com/fr/">
                <div class="pic">
                    <img src="images/content/partners/8.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://af83.com/fr">
                <div class="pic">
                    <img src="images/content/partners/9.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www8.hp.com/fr/fr/home.html">
                <div class="pic">
                    <img src="images/content/partners/10.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://legroupe.laposte.fr/">
                <div class="pic">
                    <img src="images/content/partners/11.png"/>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <h2>Organizer</h2>
    <div class="partners">
        <div class="partner">
            <a owf-external href="http://www.systematic-paris-region.org/">
                <div class="pic">
                    <img src="images/content/partners/12.png"/>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <h2>Co-organizers</h2>
    <div class="partners">
        <div class="partner">
            <a owf-external href="http://af83.com/fr">
                <div class="pic">
                    <img src="images/content/partners/9.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.alterway.fr/">
                <div class="pic">
                    <img src="images/content/partners/6.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.capdigital.com/">
                <div class="pic">
                    <img src="images/content/partners/13.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.inria.fr/">
                <div class="pic">
                    <img src="images/content/partners/5.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.smile.fr">
                <div class="pic">
                    <img src="images/content/partners/7.png"/>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <h2>Press partners</h2>
    <div class="partners">
        <div class="partner">
            <a owf-external href="http://www.channelbiz.fr/">
                <div class="pic">
                    <img src="images/content/partners/14.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.collaboratif-info.fr/">
                <div class="pic">
                    <img src="images/content/partners/15.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.i-entreprise.com/">
                <div class="pic">
                    <img src="images/content/partners/16.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.itespresso.fr/">
                <div class="pic">
                    <img src="images/content/partners/17.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.i-entreprise.com/">
                <div class="pic">
                    <img src="images/content/partners/18.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.journaldunet.com//">
                <div class="pic">
                    <img src="images/content/partners/19.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://boutique.ed-diamond.com/">
                <div class="pic">
                    <img src="images/content/partners/20.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://boutique.ed-diamond.com/">
                <div class="pic">
                    <img src="images/content/partners/21.jpg"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.silicon.fr/">
                <div class="pic">
                    <img src="images/content/partners/22.png"/>
                </div>
            </a>
        </div>
        <div class="partner">
            <a owf-external href="http://www.terraeco.net//">
                <div class="pic">
                    <img src="images/content/partners/23.jpg"/>
                </div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
