<div id="venue">
    <h1>Venue</h1>
    <p>This year, the Open World Forum will be held at the Beffroi, in Montrouge.</p>

    <p>Centre culturel Le Beffroi 2 Place Emile Cresp, 92120 Montrouge FRANCE</p>

    <p>
        Getting there:
        <br/>
        <strong>Subway</strong>: Line 4, Mairie de Montrouge station
        <br/>
        <strong>Bus</strong>: numbers 68, 128 and 126, the Mairie de Montrouge stop
        <br/>
        <strong>Parking</strong>: Parking Cresp, Emile Cresp Plaza, Montrouge
    </p>
</div>